/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
      font-family: "Fontin-Sans";
      src: url(fontin-sans.otf) format("opentype");
}
@font-face {
      font-family: "Fontin-Sans SC";
      src: url(fontin-sans-sc.otf) format("opentype");
}
@font-face {
      font-family: "Deja Vu Sans Mono";
      src: url(deja-vu-sans-mono.ttf) format("truetype");
}
body {
    background: #999 url(images/bgbg.png);
    font: 100.1% "Fontin-Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: none;
}            
#header {
    height: 140px;
    background: #000 url(images/top.png);
    width: 60em;
    margin: 0 auto;
}
#rss {
    float: right;
    height: 140px;
    width: 40px;
    text-indent: -9999em;
    background-image: url(images/rss.png);
}
h1 {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    color: #fff;
    font-family: "Fontin-Sans SC", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    height: 140px;
    line-height: 140px;
    margin: 0;
    padding: 0;
}
h1 em {
    font-style: normal;
}
#content {
    background: #eee url(images/bg.png);
    width: 60em;
    margin: 0 auto;
    text-align: left;
}
#content div {
    background-image: url(images/left.png);
    background-repeat: repeat-y;
}
#content div div {
    background-image: url(images/right.png);
    background-repeat: repeat-y;
    background-position: 100% 0;
    padding: .5em 2em 0;
    font-size: .85em;
}
#content div div div {
    background: none;
    padding: 0;
    font-size: 1em;
}
#content #footer {
    background: url(images/bottom.png) repeat-x 0 100%;
    margin: 0 -2em;
    clear: both;
    position: relative;
    zoom: 1;
}
#footer h3 {
    margin: 0;
    padding: 0;
    line-height: 30px;
    height: 30px;
    font-size: .8em;
    color: #666;
    font-weight: 400;
    text-align: center;
}
#footer #copyright {
    background: url(images/bl.png) no-repeat 0 100%;
    padding-bottom: 40px;
    margin-bottom: -40px;
    position: relative;
}
#footer #font {
    background: url(images/br.png) no-repeat 100% 100%;
    padding-bottom: 10px;
    position: relative;
}
h2 {
    font-family: "Fontin-Sans SC", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    margin: 1em 0 0 0;
    padding: 0;
    line-height: 1.85;
}
p {
    margin: 0;
}
abbr.published {
    color: #666;
    font-family: "Hoefler Text", Georgia, times, serif;
    font-style: italic;
    border: none;
}
p.not-prime {
    text-indent: 1.4em;
}
p.code,
code,
samp {
    font: 1.1em Monaco, "Lucida Console", monospace;
    color: #0b094b;
}
code span {
    color: #690;
}
#column-1 {
    width: 75%;
    float: left;
    margin: 0 1em 0 0;
}
.hidden {
    display: none;
    visibility: hidden;
}
a, a * {
    color: #1456a5;
    text-decoration: none;
}
a:hover, a:hover * {
    color: #39f;
    text-shadow: 0 0 3px #1456a5;
}
code a, samp a {
    color: #17e1ac;
}
sup {
    color: #aaa;
}
wbr {
    display: inline-block;
}
address {
    font-style: normal;
}
address img {
    float: left;
    margin: 0 10px 0 0;
    width: 8.36em;
    height: 8.36em;
}
strong.very {
    color: #f00;
}
pre.code code {
    color: #fff;
}
pre.code {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background: #141414;
    color: #fff;
    padding: 1em;
    overflow-x: auto;
}
pre.javascript code b {
    color: #e9df8f;
    font-weight: normal;
}
pre.javascript code i,
pre.javascript code i *,
pre.javascript code i .d {
    color: #8b9967;
    font-style: normal;
}
pre.javascript code .s {
    color: #e7be61;
}
pre.javascript code .d {
    color: #cf6a4c;
}
pre.javascript code .c,
pre.javascript code .c * {
    color: #555;
    font-style: italic;
}
pre.css code b {
    color: #e9df8f;
    font-weight: normal;
}
pre.css code i,
pre.css code i *,
pre.css code i .d {
    color: #8b9967;
    font-style: normal;
}
pre.css code var {
    color: #907241;
    font-style: normal;
}
pre.css code .d,
pre.css code .c {
    color: #cf6a4c;
}
pre.html code b {
    color: #e9df8f;
    font-weight: normal;
}
pre.html code i,
pre.html code i * {
    color: #8b9967;
    font-style: normal;
}
pre.terminal code {
    color: #c7fd2d;
}
#column-2 ul {
    list-style: none;
}
#demos {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#demos li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;
}
#demos li a {
    float: left;
    height: 100px;
    text-indent: -9999em;
    width: 100px;
}
#twitter {
    margin: 1em 0;
    display: block;
    height: 70px;
    background: url(/images/twitter.png) no-repeat 50% 0;
    width: 175px;
    float: left;
    text-indent: -999em;
}
#playground {
    background: url(/images/playground.png);
}
#reflection {
    background: url(/images/reflection.png);
}
#rotation1 {
    background: url(/images/rotation.png);
}
#rotation2 {
    background: url(/images/text-rotation.png);
}
#impact {
    background: url(/images/impact.png);
}
#punch {
    background: url(/images/dots.png);
}
#pie {
    background: url(/images/pie.png);
}
#analytics {
    background: url(/images/analytics.png);
}
#polar {
    background: url(/images/polar.png);
}
#boids {
    background: url(/images/boids.png);
}
#spin {
    background: url(/images/spin.png);
}
#australia {
    background: url(/images/australia.png);
}